<div class="search-wrapper">
    <div class="search-bar">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" placeholder="Buscar cliente..." class="search-input" [(ngModel)]="searchTerm">
        @if (searchTerm) {
            <button class="clear-button" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        }
        <button class="filter-button" (click)="filter()" matTooltip="Filtrar">
            <mat-icon>tune</mat-icon>
        </button>
    </div>
</div>