html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0%;
}

.layout-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    overflow-y: auto;
    width: 100%;
}



/* El sidebar es oculto en pantallas grandes */
app-sidebar {
    display: none; /* Lo mantengo oculto en pantallas grandes */
    width: 0; /* Asegúrate de que no ocupe espacio */
}


@media (max-width: 768px) {
    app-sidebar {
        display: block;
        width: 100%;
        /* El sidebar ocupa el 100% de ancho en pantallas pequeñas */
    }
}
