<div class="search-container">
    <!-- Campo de búsqueda -->
    <div class="search-field bordered">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" [(ngModel)]="searchTerm" (input)="handleSearch()" placeholder="Buscar cliente..."
            class="search-input">
        <button mat-icon-button class="clear-btn" (click)="clearSearch()" *ngIf="searchTerm">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- Botón de filtrar -->
    <button mat-stroked-button [matMenuTriggerFor]="filterMenu" class="action-button filter">
        <mat-icon>filter_list</mat-icon>
        <span>Filtrar</span>
    </button>
</div>

<!-- Menú de filtro -->
<mat-menu #filterMenu="matMenu">
    <button mat-menu-item (click)="applyFilter('todos')">
        <mat-icon>list</mat-icon>
        <span>Todos</span>
    </button>
    <button mat-menu-item (click)="applyFilter('activo')">
        <mat-icon>check_circle</mat-icon>
        <span>Activos</span>
    </button>
    <button mat-menu-item (click)="applyFilter('inactivo')">
        <mat-icon>cancel</mat-icon>
        <span>Inactivos</span>
    </button>
</mat-menu>