<!-- app.component.html -->
<div class="app-container">
  <div class="main-grid">
    <!-- Columna izquierda - Formulario de registro -->
    <div class="form-column">
      <div class="form-container">
        <app-customer-form></app-customer-form>
      </div>
    </div>

    <!-- Columna central - Lista de clientes -->
    <div class="list-column">


      <!--<div class="action-bar">
        <app-button-bar (onFilter)="handleFilter()" (onSearch)="handleSearch()" (onReset)="handleReset()">
        </app-button-bar>
      </div>-->
      
      
      <div class="list-container">
        <app-customer-list></app-customer-list>
      </div>
    </div>

    <!-- Columna derecha - Sidebar -->
    <div class="sidebar-column">
      <div class="sidebar-container">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</div>
