<h2 class="title">Lista de Productos en Stock</h2>

<div class="table-container">
    <table class="product-table">
        <thead>
            <tr>
                <th>ID Producto</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Fecha de Compra</th>
                <th>Proveedor</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Pan</td>
                <td>Pan fresco de trigo</td>
                <td>$1.00</td>
                <td>50</td>
                <td>2025-04-20</td>
                <td>Proveedor A</td>
                <td>Pan</td>
                <td class="actions">
                    <button class="edit">Editar</button>
                    <button class="delete">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>002</td>
                <td>Pastel</td>
                <td>Pastel de chocolate</td>
                <td>$5.00</td>
                <td>30</td>
                <td>2025-04-15</td>
                <td>Proveedor B</td>
                <td>Pastelería</td>
                <td class="actions">
                    <button class="edit">Editar</button>
                    <button class="delete">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Botón para agregar nuevo producto -->
    <div class="form-group submit">
        <a href="/stock-form">
            <button type="button" class="btn-navigate">Registrar Nuevo Producto</button>
        </a>
    </div>

</div>